
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.card {
    background-color: white;
    border: 1px solid #e0e0e0; 
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

/*main header*/
.main-header {
    background-color: #4892e6;
    color: white;
    text-align: center; 
    padding: 30px 20px;
    margin-bottom: 30px;
}


/*image*/
.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/*Table*/
table {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
}
table th, table td {
    border: 1px solid #e0e0e0;
    padding: 12px;
}
table th {
    background-color: #4a90e2; 
    color: white;
}


/*Basic info*/
.form-container{
    max-width: 500px;
}
.form-group{
    margin-bottom: 18px;
}
.form-group label{
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 6xp;
}
.required {
    color: red;
}



/*survey form*/
.inline-options {
    display: flex;
    gap: 15px;
}

.textarea {
    resize: vertical;
}